body {
    background-image: url("https://images.pexels.com/photos/12843160/pexels-photo-12843160.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    
  }

@tailwind base;
@tailwind components;
@tailwind utilities;